acl,2.2.52-3build1
apt,1.6.14
base-passwd,3.5.52build1
bash,5.1-6ubuntu1
bash-completion,1:2.11-5ubuntu1
bc,1.07.1-3build1
bcache-tools,1.0.8-4ubuntu3
bind9-dnsutils,1:9.18.1-1ubuntu1.1
bind9-host,1:9.18.1-1ubuntu1.1
bind9-libs:amd64,1:9.18.1-1ubuntu1.1
binutils,2.38-3ubuntu1
binutils-common:amd64,2.38-3ubuntu1
binutils-x86-64-linux-gnu,2.38-3ubuntu1
bolt,0.9.2-1
